
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)) , url(imagenes/seguridadvial.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: #02F09D;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color: black;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px; 
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px solid #02F09D;
    background: #02F09D;
    transition: 1s;
}

nav .fa{
    display: none;
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.cousrde h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 45%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

 .course-col h3{
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
}

 .course-col:hover{
     box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }

 .imagenes{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 50px;
 }

 .imagenes-col{
     flex-basis: 45%;
     border-radius: 10px;
     margin-bottom: 30px;
     position: relative;
     overflow: hidden;
 }

 .imagenes-col img{
     width: 100%;
     display: block;
 }

 .layer{
     background: transparent;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transition: 0.5s;
 }

 .layer:hover{
    background: rgba(2,240,157,0.7);
 }

 .layer h3{
     width: 100%;
     font-weight: 500;
     color: #fff;
     font-size: 26px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     position: absolute;
     opacity: 1;
     transition: 0.5s;
 }

 .layer:hover h3{
    bottom: 49%;
     opacity: 1; 
 }

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer{
    text-align: center;
}

.content-footer h4{
    color: #fff;
    border-bottom: 3px solid #05D58C;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.content-footer p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/*---------------- history -----------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imagenes/imagen.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    margin-top: 100px;
}

/*---------------------historia------------------------*/
.contenedor-historia{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    width: 90%;
    padding-top: 100px;
    padding-bottom: 0px;
    margin: 10px 0;
}

.imagen-historia{
    width: 48%;
    padding: 30px 2px;
}

.contenedor-historia .contenido-textos{
    width: 48%;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.history{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 0px;
}

.historia-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.historia-col img{
    width: 100%;
}

.historia-col h1{
    padding-top: 0;
}

.historia-col p{
    padding: 15px 0 25px;
}

/*-------------------------importancia---------------------*/
.subi-header{

    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imagenes/imagebsita.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subi-header h1{
    margin-top: 100px;
}  

.importancia{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.importancia-col{
    flex-basis: 48%;
    padding: 30px 2px; 
}

.importancia-col img{
    width: 100%;
}

.importancia-col h1{
    padding-top: 0;
}

.importancia-col p{
    padding: 15px 0 25px;
}

/*---------------PARA TODOS-------------*/
.s-header{

    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imagenes/imagen-tr.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.s-header h1{
    margin-top: 100px;
}  

.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #444645b0;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height: 350px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height: 100%;
    max-width: 100;
    max-height: 100;
    object-fit: cover;
}

.overflay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000d3;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overflay h2{
    color: #02F09D;
    font-weight: 500;
    margin-bottom: 5px;
    transition: all 500ms ease-out;
    margin-top: 50px;
    text-align: center;
}
.overflay p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.5;
    width: 120%;
    max-width: 220px;
    margin: auto;
}

.imagen:hover .overflay{
height: 100%;
cursor: pointer;
}

@media screen and (max-widht:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-widht:700px){
    .contenedor-imagenes{
        width: 90%;
    }

    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-widht:450px){
    h1{
        font-size: 22px;
    }
    .contenedor-imagenes{
        width: 90%;
    }

    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

/*-----------------PAGINA 5--------------------*/
.su-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imagenes2.0/logo3.0.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}